<%= render "shared/header" %>
<%= simple_form_for(@journey) do |f| %>
  <%= f.input :name %>
  <%= f.label :location %>
  <%= f.input :location, as: :hidden,
              input_html: { class: "journey_location",
                    data: {location_autocomplete_target: "location"}},
              wrapper_html: {data: {controller: "location-autocomplete",
                                    location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}} %>
  <br>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :description %>
  <%= f.label :cover_photo, class: "btn mt-3" do %>
    <i class="fa-solid fa-camera"></i>
    <%= f.file_field :cover_photo, class: "hidden-input" %>
  <% end %>
  <%= f.label :song, class: "btn mt-3", id: "music" do %>
    <i class="fa-solid fa-music"></i>
    <%= f.file_field :song, class: "hidden-input" %>
  <% end %>
  <div class="card-map mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('map.jpg');">
    <%= link_to map_journey_path(@journey), class: "edit map-edit" do %>
      <i class="fa-regular fa-pen-to-square"></i>
    <% end %>
  </div>
  <%# <%= f.submit "✔️", class: "large", id: "submit-btn" %>
  <%= button_tag( class: "large", id: "submit-btn" ) do  %>
    <i class="fa-solid fa-check"></i>
  <% end %>
<% end %>
