<div class="journeys-body">
  <div class="container">
    <div class="top">
      <div class="pic-text">
        <%= link_to user_path(@user) do %>
          <%= image_tag("bob.png", class: "profile-pic") %>
        <% end %>
        <p>@bobbrian123<%= @user.username %></p>
      </div>
      <div class="button">
        <%= link_to new_journey_path do %>
          <button class ="btn">New trip</button>
        <% end %>
      </div>
    </div>

    <div class="title">
      <h1>MEMORIES MADE SIMPLE <%= image_tag "pin2.png" %></h1>
    </div>

    <div class="search-home">
      <div class="d-block my-4">
        <div class="search-wrapper">
            <%= form_with url: journeys_path, method: :get, class: "d-flex search-form" do %>
              <%= text_field_tag :query,
                    params[:query],
                    class: "search-journey",
                    placeholder: "Journey Name..."
                %>
              <%= submit_tag "", name: "", class: "search-button"%>
          <% end %>
          <button type="button" id="search">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
      <br>
    </div>

    <% if @journeys.any? %>
      <div class="cards">
        <% @journeys.each do |journey| %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(journey.cover_photo.key)%>');" class="summer">
            <%= link_to journey_path(journey) do %>
              <div class="card-content">
                <div class="pin-text">
                  <p><%= image_tag "pin-white.png", class: "pin"%> <%= journey.location %> </p>
                </div>
                <h2><%= journey.name %></h2>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div>
        <p>Journey does not exist</p>
      </div>
    <% end %>
  </div>
</div>
