<% if @markers %>
  <div style="width: 100vw; height: 100vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
<% else %>
  <div style="width: 100vw; height: 100vh;"
    data-controller="map"
    data-map-markers-value="<%= [].to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-journey-location="<%= @journey_location.to_json %>">
<% end %>
    <%= link_to :back do  %>
      <%= image_tag "chevron-circle-left.svg", class: 'back-image', style: 'width: 40px; height: 40px; position: absolute; top: 11px; left: 10px; z-index: 9999;' %>
    <% end %>
    <button class="small-btn-pin" data-map-target="button">New pin</button>
</div>
