<%= render "shared/header" %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(@journey.cover_photo.key) if @journey.cover_photo.attached? %>');" class="summer">
    </div>
    <div class="info-buttons">
      <div class="journey-info">
        <div class="gray-info">
          <h1><%= @journey.name %></h1>
          <p>
              <i class="fa-solid fa-location-dot"></i>
              <%= @journey.location %>
          </p>
          <p><i class="fa-regular fa-calendar"></i><%= @journey.start_date.strftime("%e %B") %> - <%= @journey.end_date.strftime("%e %B %Y") %></p>
        <div class="infobtn-container">
        <div class="buttons-edit" >
        <%= link_to edit_journey_path(@journey), class: "edit btn" do %>
          <i class="fa-regular fa-pen-to-square"></i>
        <% end %>
        <br>
        <%= link_to journey_path(@journey), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
          <button class ="btn red"><i class="fa-solid fa-trash"></i></button>
        <% end %>
      </div>
      </div>
        </div>
      </div>
    </div>
    <br>
  <div class="hate">
    <div class="journey-description">
      <p class="description">Description</p>
      <p class="description-gray"><%= @journey.description%></p>
    </div>
    <br>
    <% if @journey.persisted? %>
      <div class="card-map mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('map.jpg');">
        <%= link_to map_journey_path(@journey), class: "edit map-edit", id: "mapshow" do %>
          <i class="fa-regular fa-pen-to-square"></i>
        <% end %>
      </div>
    <% end %>
    <div class="action-buttons">
      <%# TODO: add link_to share and play when they are defined %>
      <%= link_to journey_videos_path(@journey), class: "btn bottom" do %>
        <i class="fa-regular fa-circle-play"></i>
      <% end %>
       <%= link_to "#", class: "btn bottom", id: "copyURL",  data: { video_path: journey_videos_path(@journey) } do %>
        <i class="fa-solid fa-share-nodes"></i>
      <% end %>
    </div>
  </div>


<script>
  const copyBtn = document.getElementById('copyURL');
  const baseURL = window.location.origin;


  copyBtn.addEventListener('click', () => {
    const videoPath = copyBtn.dataset.videoPath;
    if (videoPath) {
      const fullURL = baseURL + videoPath;
      navigator.clipboard.writeText(fullURL).then(() => {
        alert('Video link copied successfully!');
      }).catch(() => {
        alert('Error copying video link to clipboard');
      });
  } else {
      alert('Video link is not available');
  }
  });
</script>
