<%= render "shared/header" %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(@journey.cover_photo.key) if @journey.cover_photo.attached? %>');" class="summer">
    </div>
    <div class="info-buttons">
      <div class="journey-info">
        <div class="gray-info">
          <h1><%= @journey.name %></h1>
          <p>
              <i class="fa-solid fa-location-dot"></i>
              <%= @journey.location %>
          </p>
          <p><i class="fa-regular fa-calendar"></i><%= @journey.start_date.strftime("%e %B") %> - <%= @journey.end_date.strftime("%e %B %Y") %></p>
        </div>
      </div>
      <div class="buttons">
        <%= link_to edit_journey_path(@journey), class: "edit btn small" do %>
          <i class="fa-regular fa-pen-to-square"></i>
        <% end %>
        <br>
        <%= link_to journey_path(@journey), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
          <button class ="btn red"><i class="fa-solid fa-trash"></i></button>
        <% end %>
      </div>
    </div>
<br>
  <div class="hate">
    <div class="journey-description">
      <p class="description">Description</p>
      <p class="description-gray"><%= @journey.description%></p>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="action-buttons">
      <%# TODO: add link_to share and play when they are defined %>
      <%= link_to journey_videos_path(@journey), class: "btn bottom" do %>
        <i class="fa-regular fa-circle-play"></i>
      <% end %>
       <%= link_to (), class: "btn bottom" do %>
        <i class="fa-solid fa-share-nodes"></i>
      <% end %>
    </div>
  </div>
