<%# # back button and logo %>
 <%# card %>
<%# //city,  country, date and edit button %>
<%# // description of the journey %>
<%# // play and share buttons %>



<%= render "shared/header" %>
    <div class="card">
      <%= image_tag "lama.png", class: 'journey-image' %>
    </div>
    <div class="journey-info">
      <div class="journey-header mt-4">
        <h1><%= @journey.name %></h1>
        <%= link_to edit_journey_path(@journey), class: "edit btn small" do %>
          <i class="fa-regular fa-pen-to-square"></i>
        <% end %>
      </div>
      <div class="gray-info">
        <p>
            <i class="fa-solid fa-location-dot"></i>
            <%= @journey.location %>
        </p>
        <p><i class="fa-regular fa-calendar"></i><%= @journey.start_date.strftime("%e %B") %> - <%= @journey.end_date.strftime("%e %B %Y") %></p>
      </div>
    </div>
<br>
  <div class="hate">
    <div class="journey-description">
      <p>Description</p>
      <p class="description-gray"><%= @journey.description%></p>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
    <div class="action-buttons">
      <%# TODO: add link_to share and play when they are defined %>
      <%= link_to map_journey_path, class: "btn bottom" do %>
        <i class="fa-regular fa-circle-play"></i>
      <% end %>
       <%= link_to (), class: "btn bottom" do %>
        <i class="fa-solid fa-share-nodes"></i>
      <% end %>
    </div>
  </div>
